In [1]:
import pandas as pd 

data = pd.read_csv('overallwait1.csv')

In [5]:
# data['TIME_OF_DAY'] = data['TIME_OF_DAY'].apply(lambda x: int(x.split(' ')[0]

In [9]:
data.head()

                      RIDE MONTH TIME_OF_DAY  AVERAGE_WAIT_TIME_MIN
0  SEVEN DWARFS MINE TRAIN   JAN       12 AM              23.145833
1  SEVEN DWARFS MINE TRAIN   JAN        7 AM              65.368421
2  SEVEN DWARFS MINE TRAIN   JAN        8 AM              68.615295
3  SEVEN DWARFS MINE TRAIN   JAN        9 AM              69.915966
4  SEVEN DWARFS MINE TRAIN   JAN       10 AM              80.889602

In [11]:
boxplotdata_month = data.groupby(['RIDE', 'MONTH', 'TIME_OF_DAY']).apply(lambda x: x['AVERAGE_WAIT_TIME_MIN'].describe()).reset_index()

In [12]:
boxplotdata_all = data.groupby(['RIDE', 'TIME_OF_DAY']).apply(lambda x: x['AVERAGE_WAIT_TIME_MIN'].describe()).reset_index()

In [33]:
sum(boxplotdata_all['max'] < 0)

0

In [37]:
boxplotdata_all.to_csv('boxplotdata.csv')